/* salaverga esto es un comemntario */

/* ====== VARIABLES ======= */

/* definicion de una variable color rojo */
:root {
  --color_rojo: rgba(252, 93, 93);
  --color_verde: green;
  --color_oro: #ffbf00;
}

h1 {
  color: var(--color_rojo);
  color: var(--color_oro);
}

/* ==== PROPIEDADES ==== */

header {
  border: 5px solid purple;
  width: 400px;
  height: 200px;
  background-color: grey;
}

nav {
  background-color: beige;
  text-align: center;
}

a {
  text-decoration: none;
  border: 10px dashed black;
}
