/* salaverga esto es un comemntario */

/* ====== VARIABLES ======= */

/* definicion de una variable color rojo */
:root {
  --color_rojo: rgba(252, 93, 93);
  --color_verde: green;
  --color_oro: #ffbf00;
}

h1 {
  color: var(--color_rojo);
  color: var(--color_oro);
}

/* ==== PROPIEDADES ==== */

header {
  border: 5px solid purple;
  width: 400px;
  height: 300px;
  background-color: grey;
}

nav {
  background-color: beige;
  text-align: center;
}

a {
  text-decoration: none;
  border: 10px dashed black;
  display:  inline-block;
  width: 50px;
  height: 50px;
}

/* TIPOS DE CAJA

    inline -> Se posicionan uno al lado del otro sin poder modificar margenes
    block -> abarcan el ancho posible con margenes
    inline-block -> parecen inline pero si aceptan propiedades de ancho y alto

 */

/* SELECTORES */

    /* de tipo */

  /* h1, h2, p {
    background-clip: inherit;
  } */

    /* de clase */
    /* los estilos de clase tienen mas peso de los de tipo (prioridad) */
  .destacado {
    color: var(--color_oro);
    font-weight: bold;
    background-color: var(--color_rojo);
  }

  li {
    color: var(--color_rojo);
    background-color: aquamarine;
  }
    /* de id */
  /* Los atributos id tienen mas prioridad de las clases */
  #importante {
    font-size: 30px;
    background-color: azure;
  }

  .muyimportante {
    font-size: 10px;
    background-color: bisque;
  }
    /* de atributos  */
    /* de hijos */
